.cartt{
    font-size: 15px;
    color: black;
    text-align: right;
    position: relative;
    transition: color 0.3s;
    
    z-index: 200;
}

.cartt.active:hover .cart-content{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3, visibility 0.3s;
}
.cart-content{
    position: absolute;
    right: 0;
    top: 100%;
    width: 490px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3, visibility 0.3s;
}
.cart__text:hover{
    color: rgb(130, 179, 255);

}
.cart__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-right: 24px;
    cursor: pointer;
}
.cart__quantity{
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -10px;
    transform: translateY(-50%);
    border-radius: 100%;
    color: white;
    background-color:#3AD8B2;
    min-height: 16px;
    padding: 3px;
    min-width: 16px;
    display: inline-flex;
    justify-content: center;
    font-size: 12px;

}
.cart-content__list{
    max-height: 330px;
    
}
.cart-product{
    display: flex;
    padding: 12px 20px;
    transition: background-color 0.3s;

}
.cart-product:hover{
    background-color:  rgb(237, 244, 252);
}
.cart-product__img{
    max-width:100px;
    max-height: 100px;
    object-fit: cover;
}
.cart-product__title{
    max-width: 280px;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px;
    text-align: left;
    padding-left: 10px;
}
.cart-product__author{
    font-size: 14px;
    font-weight: 400;
    color: gray;
    margin-bottom: 35px;
    line-height: 20px;
    margin-right: 20px;
    text-align: left;
    padding-left: 10px;
}
.cart-prosuct__price{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: black;
}
.cart-product__delete{
    width: 60px;
    height: 20px;
    border: none;
    font-size: 12px;
    padding: 0;
    color: gray;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
}

.cart-product__text{
    width: 100%;
}
.cart-content__bottom{
    border-top:  1px solid #eeece8;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}
.cart-content__fullprice{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-align: left;
    padding-left: 20px;

}
.button_cart{
    margin: 20px;
}
.fullprice{

    margin-top: 5px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
}
/*оформление заказа*/
.order-modal{
    padding: 40px;
    width: 592px;
    min-height: 542px;
}
.order-modal__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-modal__title{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: aqua;
}
.order-modal__number{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: gray;
}
.order-modal__info{
    border-radius: 4px;
    border: 1px solid rgb(187, 187, 187);
    padding: 34px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: gray;
    margin-bottom: 20px;
}
.order-modal__info-item:not(:last-child){
   
    margin-bottom: 15px;
}
.order-modal__info span{
    font-weight: 600;
}
.order-modal__btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-light);

}
.order-modal__btn::after{
    content: "";
    position: absolute;
    
    top: 0;
    width: 7;
    height: 7;
    color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
 }

.order-down{
    max-width: 17px;
    max-height: 17px;
    right: 0;
    margin-top: -20px;
  
}


.order{
    padding: 0 40px;
    
}
.order__label{
    margin-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: gray;
}
.order__input{
    width: 240px;
    height: 45px;
    background: rgb(238, 237, 237);
    border-radius: 4px;
    border: none;

}
.order__input::placeholder{
    color: gray;
}

.order-product__product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-product__img{
    max-width: 60px;
    min-height: 60px;
    object-fit: cover;
    margin-right: 10px;
}
.order-product__title{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: gray;
}
.order-product__author{
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: gray;
}
.order-product__price{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: darkblue;
}
.order-product__delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: gray;
}
.order-product__text{
    margin-right: 10px;
}
.order-modal__list{
    padding-top: 20px;
    padding-bottom: 20px;
}
.order-modal__list{
    display: none;
}
.order-modal__item:not(:last-child){
    margin-bottom: 14px;
}
.order__btn{
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    height: 35px;
    width: 100%;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(130, 179, 255);
}